.b1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url("../static/security.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 40%;
}

.m1 {
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
}

input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 10px;
}

.primary-button {
    color: black;
    background-color: #e7e7e7;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    border: 1px solid grey;
    width: 400px;
    padding: 20px 50px;
    box-sizing: border-box;
    text-align: center;
    background: white;
    border-radius: 10px;
}

.box form {
    max-width: 300px;
    margin: auto;
}

.box h1 {
    text-align: center;
}

.box a {
    font-weight: bold;
    color: black;
}

.submit-button {
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
