h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-family: HCo Gotham SSm,Arial,sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0d171f;
}


input[type=password] {
    padding: 10px;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 10px;
    text-transform: none;
}

.primary-button {
    color: black;
    background-color: #e7e7e7;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 250px;
}

.box h1 {
    text-align: center;
}

.box a {
    font-weight: bold;
    color: black;
}

#down-arrow {
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    rotate: -90deg;
    width: 50px;
    height: 50px;
}


/* Media Screen */

@media (max-width: 768px) {
    .box {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    main {
        padding-top: 100px;
    }
    .box {
        width: 100%;
    }
}


#password-validation-result {
    color: salmon;
    font-size: 25px;
    text-align: center;
}