<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Strength Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <script src="../static/scripts/displayIssues.js"></script>
</head>
<body>
    <div class="container">
        <h1>Is My Password Secure?</h1>
        <form action="/validate_password" method="post">
            <div class="input-container">
                <input type="password" id="user_input" name="user_input" size="30px" placeholder="Password" required>
                <img src="../static/images/eye-close.png" id="eye-icon">
            </div>
            <div id="password-validation-result"></div>
        </form>
    </div>
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('user_input').addEventListener('input', validatePassword);
        });

        const eyeicon = document.getElementById("eye-icon");
        const pwd = document.getElementById("user_input");

        eyeicon.onclick = function(){
            if (pwd.type == "password") {
                pwd.type = "text";
                eyeicon.src = "../static/images/eye-open.png";
            } else {
                pwd.type = "password";
                eyeicon.src = "../static/images/eye-close.png";
            }
        }
    </script>

</body>
</html>