<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Strength Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <script src="../static/scripts/displayIssues.js"></script>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Is My Password Secure?</h1>
            <form action="/validate_password" method="post">
                <input type="password" id="user_input" name="user_input" placeholder="Password" required><br>
                <div id="password-validation-result"></div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('user_input').addEventListener('input', validatePassword);
        });
    </script>

</body>
</html>