<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Strength Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
</head>
<body class="b1">
    <main class="m1">
        <div class="container">
            <div class="box">
                <h1>Password Evaluator</h1>
                <form action="/get_password" method="post">
                    <input type="text" id="user_input" name="user_input" placeholder="Password" required><br>
                    <button type="submit" class="primary-button submit-button">Submit</button>
                </form>
            </div>            
        </div>
    </main>
</body>
</html>